@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

body {
  background-color: hsl(210, 46%, 95%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
  font-size: 13px;

  .global-aricle-container {
    transform: translate(-50%, -50%);
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    width: 42%;
    height: 32%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 9px;
    box-shadow: 0 0 40px hsl(212, 23%, 69%);
    overflow: hidden;

    img {
      height: 350px;
      width: 350px;
      object-position: left;
      object-fit: cover;
    }

    .article-panel {
      background-color: white;
      padding: 200px 50px 200px 50px;

      .text {
        h1 {
          font-size: 1.5em;
          color: $very-dark-grayish-blue;
          line-height: 1.5em;
          font-weight: 700;
          margin-bottom: 10px;
        }

        p {
          color: $desaturated-dark-blue;
          width: 96%;
          font-weight: 500;
          font-size: 13px;
          text-align: justify;
          line-height: 1.7em;
        }
      }

      .post-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .texts {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          img {
            height: 40px;
            width: 40px;
            border-radius: 100px;
          }

          .info {
            margin-left: 20px;
            position: relative;
            top: 5px;

            h3 {
              font-size: 15px;
              color: $very-dark-grayish-blue;
              position: relative;
              top: 2px;
            }

            p {
              font-weight: 500;
              font-size: 15px;
              color: $grayish-blue;
              position: relative;
              top: -12px;
            }
          }
        }

        .share-button {
          cursor: pointer;
          background-color: hsl(210, 46%, 95%);
          width: 35px;
          height: 35px;
          border-radius: 100%;

          img {
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            left: 50%;
            top: 50%;
            position: relative;
          }
        }
      }
    }
  }

  .attribution {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}