@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  background-color: #ecf2f8;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

body .global-aricle-container {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 42%;
  height: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 40px #9eafc2;
          box-shadow: 0 0 40px #9eafc2;
  overflow: hidden;
}

body .global-aricle-container img {
  height: 350px;
  width: 350px;
  -o-object-position: left;
     object-position: left;
  -o-object-fit: cover;
     object-fit: cover;
}

body .global-aricle-container .article-panel {
  background-color: white;
  padding: 200px 50px 200px 50px;
}

body .global-aricle-container .article-panel .text h1 {
  font-size: 1.5em;
  color: #48556a;
  line-height: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
}

body .global-aricle-container .article-panel .text p {
  color: #6d7f97;
  width: 96%;
  font-weight: 500;
  font-size: 13px;
  text-align: justify;
  line-height: 1.7em;
}

body .global-aricle-container .article-panel .post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .global-aricle-container .article-panel .post-footer .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .global-aricle-container .article-panel .post-footer .texts img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

body .global-aricle-container .article-panel .post-footer .texts .info {
  margin-left: 20px;
  position: relative;
  top: 5px;
}

body .global-aricle-container .article-panel .post-footer .texts .info h3 {
  font-size: 15px;
  color: #48556a;
  position: relative;
  top: 2px;
}

body .global-aricle-container .article-panel .post-footer .texts .info p {
  font-weight: 500;
  font-size: 15px;
  color: #9eafc2;
  position: relative;
  top: -12px;
}

body .global-aricle-container .article-panel .post-footer .share-button {
  cursor: pointer;
  background-color: #ecf2f8;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

body .global-aricle-container .article-panel .post-footer .share-button img {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  left: 50%;
  top: 50%;
  position: relative;
}

body .attribution {
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */