@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  background-color: #ecf2f8;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

body .article {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  top: 47%;
  background-color: white;
  width: 745px;
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 9px;
  -webkit-box-shadow: 0 0px 50px #9eafc2;
          box-shadow: 0 0px 50px #9eafc2;
}

@media screen and (max-device-width: 375px) {
  body .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 325px;
    height: 75%;
    overflow: hidden;
  }
}

body .article img {
  height: 100%;
  width: 290px;
  -o-object-position: left;
     object-position: left;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px 0 0 9px;
}

@media screen and (max-device-width: 375px) {
  body .article img {
    border-radius: 9px 9px 0 0;
    width: 325px;
    height: 200px;
  }
}

body .article__wrapper {
  margin: -95px 40px 0px 40px;
  height: 150px;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper {
    margin: 25px 50px 0px 35px;
    width: 250px;
  }
}

body .article__wrapper__text h1 {
  cursor: pointer;
  font-size: 21px;
  color: #48556a;
  line-height: 1.4em;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 15px;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__text h1 {
    font-size: 15px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

body .article__wrapper__text p {
  color: #6d7f97;
  width: 360px;
  margin-top: 12px;
  text-align: left;
  line-height: 1.65em;
  letter-spacing: 0.025em;
  font-weight: 500;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__text p {
    margin-top: 15px;
    width: 270px;
    word-break: keep-all;
  }
}

body .article__wrapper__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -10px;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__footer {
    padding-top: 10px;
    width: 270px;
  }
}

body .article__wrapper__footer__poster-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .article__wrapper__footer__poster-details img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

body .article__wrapper__footer__poster-details__infos {
  margin-left: 15px;
  position: relative;
  top: 0px;
}

body .article__wrapper__footer__poster-details__infos__username {
  font-size: 14px;
  color: #48556a;
  position: relative;
  top: 5px;
}

body .article__wrapper__footer__poster-details__infos__posting-date {
  font-weight: 500;
  color: #9eafc2;
  position: relative;
  top: -7px;
}

body .article__wrapper__footer__share__button-wrapper {
  cursor: pointer;
  height: 42px;
  width: 42px;
  position: relative;
}

body .article__wrapper__footer__share__button-wrapper svg path {
  fill: #6d7f97;
  -webkit-transition: ease 0.8s;
  transition: ease 0.8s;
}

body .article__wrapper__footer__share__button-wrapper svg circle {
  fill: #ecf2f8;
  -webkit-transition: ease 0.8s;
  transition: ease 0.8s;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__footer__share__button-wrapper svg {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9);
  }
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__footer__share__button-wrapper {
    z-index: 2;
  }
}

body .article__wrapper__footer__share__panel {
  visibility: hidden;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #48556a;
  position: absolute;
  left: 350px;
  top: -40px;
  height: 56px;
  width: 275px;
  padding: 1px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px #9eafc2;
          box-shadow: 0 2px 10px #9eafc2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__footer__share__panel {
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 0px;
    left: 49.5%;
    bottom: -35px;
    width: 324px;
    top: auto;
    z-index: 1;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 70px;
  }
}

body .article__wrapper__footer__share__panel__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 35px;
  top: 10%;
  margin-left: 30px;
  margin-right: 30px;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__footer__share__panel__content {
    top: 12px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 0;
  }
}

body .article__wrapper__footer__share__panel__content p {
  color: #9eafc2;
  letter-spacing: 7px;
  font-size: 13px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .article__wrapper__footer__share__panel__content #socials {
  position: relative;
  left: 8px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__footer__share__panel__content #socials {
    margin-left: 0;
  }
}

body .article__wrapper__footer__share__panel__content #socials .icon {
  cursor: pointer;
  margin-right: 1.2rem;
}

body .article__wrapper__footer__share__panel #triangle {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: relative;
  border: solid;
  border-width: 20px 20px 0 20px;
  left: 50%;
  top: 21px;
  border-color: #48556a transparent transparent transparent;
  width: 0;
  height: 0;
}

@media screen and (max-device-width: 375px) {
  body .article__wrapper__footer__share__panel #triangle {
    visibility: hidden;
  }
}

body .attributions {
  position: fixed;
  font-size: 13px;
  left: 50%;
  bottom: 5px;
  width: 100%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-device-width: 375px) {
  body .attributions {
    bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */